.idea/
.ipynb_checkpoints/
__pycache__/
cifar-10-batches-py/
save/
mnist_dataset/

toolset/__pycache__/


60.pth
cifar-10-python.tar.gz
fuck_epoch_13.pkl
tran.pth
5_25_mini_epoch_47.pkl
50epoch100%_epoch_50.pkl
lrreg.pth
net16_5_25_mini.pth
mnist_5_25.pth
tk_plot_mnist.py
tran.pth
vgg16_test.ipynb
vgg19_test.ipynb

mnist_5_25.pth
net16_5_25_mini.pth

mnist_5_27.pth

einsum_ex/
test_conv - 副本.ipynb